fastapi
uvicorn[standard]
sqlalchemy==2.0.25
pymysql==1.1.0
cryptography==42.0.2
python-jose[cryptography]==3.3.0
passlib
bycrypt==4.0.1
python-multipart==0.0.6
pydantic
pydantic-settings==2.1.0
python-dotenv==1.0.0
